* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: black;
    color: #fff;
}

.card {
    justify-content: center;
    display: flex;
    height: 100%;
    align-items: center;
    margin-top: 60px;
}

.card-container {
    background-color: rgb(23, 20, 20);
    height: 600px;
    width: 400px;
    border-radius: 16px;
    text-align: center;
}

.card-container img {
    border-radius: 50%;
    width: 3.5rem;
    margin: 40px 0 0 172px;
    height: 3.5rem;
    display: flex;

}

.card-container h3 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

.card-container h5 {
    margin-top: 6px;
}

.card-container p {
    margin-top: 20px;
    opacity: 0.7;
}

.card-container h2 {
    font-size: 10px;
    margin-top: 30px;
    background: gray;
    padding: 8px;
    width: 240px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
    cursor: pointer;
}